@tailwind base;

@import 'css/spinner.css';

@font-face {
  font-family: Jaldi;
  src: local('Jaldi'), url(fonts/Jaldi/Jaldi-Regular.ttf);
}

body {
  font-family: 'Jaldi', sans-serif;
}

h1 {
  @apply text-5xl font-bold text-gray-300;
}

td {
  padding: 5px;
  padding-left: 8px;
}

th input {
  width: 100px;
}

th {
  padding: 5px;
  padding-left: 8px;
}

select {
  padding: 4px;
}

main a {
  font-weight: bold;
  color: #b2cdeb;
}

main a:hover {
  color: #fff;
}

input {
  @apply bg-gray-800 text-gray-300 pl-2 pr-2 border-2 border-black;
}

.texticon {
  @apply inline w-4 h-4 fill-current mr-2;
}

input:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  outline: 0;
}

select:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  outline: 0;
}

@tailwind components;
@tailwind utilities;
