@import 'tailwindcss/base';
@import 'spinner.css';
@import 'table.css';
@import 'form.css';
@import 'nav.css';
@import 'tab.css';
@import 'pagination.css';

@font-face {
  font-family: Jaldi;
  src: local('Jaldi'), url(fonts/Jaldi/Jaldi-Regular.ttf);
}

body {
  @apply flex flex-col min-h-screen bg-gray-700 text-gray-600 overflow-x-hidden;
  font-family: 'Jaldi', sans-serif;
}

h1 {
  @apply text-5xl font-bold text-gray-300;
}

h1 small {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  vertical-align: middle;
}

h2 small {
  font-size: 1.2rem;
  font-weight: normal;
  vertical-align: middle;
}

a:focus,
button:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  outline: 0;
}

main a {
  font-weight: bold;
  color: #b2cdeb;
}

main a:hover {
  color: #fff;
}

.texticon {
  @apply inline w-6 h-6 fill-current mr-2;
}

@tailwind components;
@tailwind utilities;
