@font-face {
  font-family: Jaldi;
  src: local('Jaldi'), url(css/fonts/Jaldi/Jaldi-Regular.ttf);
}

body {
  @apply flex flex-col min-h-screen bg-gray-700 text-gray-600 overflow-x-hidden;
  font-family: 'Jaldi', sans-serif;
}

h1 {
  @apply text-4xl text-gray-300;
}

h1 small {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  vertical-align: middle;
}

h2 small {
  font-size: 1.2rem;
  font-weight: normal;
  vertical-align: middle;
}

a:focus {
  outline: 0;
}

main {
  @apply text-gray-300;
}

main a {
  @apply hover:font-bold text-blue-200 hover:text-blue-100;
}

footer {
  @apply flex justify-center w-full border-t p-4 h-24 md:h-12 bg-gray-950 text-gray-300 border-black;
}

.lightmode footer {
  @apply bg-gray-medium text-gray-200;
}

.texticon {
  @apply inline w-6 h-6 fill-current mr-2;
}

.maplist-card {
  @apply bg-gray-850 border border-gray-verydark flex flex-col w-64;
}

.lightmode .maplist-card {
  @apply bg-gray-200 text-gray-verydark !important;
}

.record-block {
  @apply mt-4 pt-4 border-t border-gray-950 first:border-t-0 first:mt-0 first:pt-0;
}

.lightmode .record-block {
  @apply border-gray-300 !important;
}

.lightmode body {
  @apply bg-gray-100 text-gray-verydark !important;
}

.lightmode h1,
.lightmode h2,
.lightmode h3,
.lightmode main {
  @apply text-gray-verydark !important;
}

.lightmode main a {
  @apply text-orange-600 hover:text-orange-400;
}
