.nav-main {
  @apply flex justify-center items-center flex-wrap content-start bg-gray-950 w-full border-black border-b-2 p-2 z-50 fixed;
  @apply md:flex-no-wrap md:pb-1 lg:px-4;
}

.nav-main a {
  @apply text-gray-200;
}

.profile-dropdown {
  @apply absolute z-10 bg-gray-950 text-white w-24;
}

.profile-dropdown button {
  @apply block p-2 w-full text-center hover:bg-gray-850 focus:outline-none;
}

.lightmode .profile-dropdown {
  @apply bg-gray-verydark text-white;
}

#navmenu a {
  @apply block mt-4 text-gray-200 md:inline-block md:mt-0;
  @apply hover:text-white hover:font-bold;
}

#navmenu {
  @apply w-full order-3 mt-4 pb-4 border-gray-850 border-t-2 border-b-2;
  @apply md:order-2 md:mt-0 md:flex md:pb-0 md:items-center md:w-auto md:border-0;
}

nav input {
  @apply bg-gray-750 text-gray-200 px-2;
}

nav select {
  @apply border-black border-2 mr-4 ml-2 bg-gray-750 rounded-lg text-gray-400 pl-2 pr-2;
}

.lightmode .nav-main {
  @apply bg-gray-dark text-gray-100;
}

.lightmode #navmenu a {
  @apply text-gray-100;
}

.lightmode .nav-main select,
.lightmode .nav-main input {
  @apply bg-gray-verydark text-gray-200;
}

@media screen and (min-width: 768px) and (max-width: 1270px) {
  .nav-logo {
    display: hidden;
  }
  .nav-latest {
    display: inline-block;
  }
  #navmenu a,
  .mode-select-text,
  .profile-alias {
    font-size: 0;
  }
}

@media screen and (min-width: 1271px) {
  #navmenu a {
    @apply mr-2 text-base;
  }
  .nav-latest {
    @apply hidden !important;
  }
  .nav-logo {
    @apply block !important;
  }
}
